/* reset CSS */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Base */
@font-face {
    font-family: GoogleSans-Regular;
    src: url(../fonts/GoogleSans-Regular.ttf);
}
  
@font-face {
    font-family: GoogleSans-Bold;
    src: url(../fonts/GoogleSans-Bold.ttf);
}

body {
    font-family: GoogleSans-Regular, sans-serif;
}
  
h1, h2, h3, h4, h5, h6, b, strong {
    font-family: GoogleSans-Bold;
}
  
  /* Notification */
.notificaton-place {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}
  
.notificaton-place li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: white;
    width: 300px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 8px;
            box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 8px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}
  
  .notificaton-place li.success-notification {
    background: #60d691;
}
  
  .notificaton-place li.error-notification {
    background: red;
}
  
.notificaton-place li.hide {
    opacity: 0;
    -webkit-transform: translate(400px, 0);
            transform: translate(400px, 0);
}
  
.notificaton-place .alert-icon {
    margin-right: 20px;
    color: #FFFFFF;
}